<!-- Meta -->
<title>Title</title>
<meta name="description" content="Description">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Styles -->
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" href="/static/css/main.css">

<!-- Webfonts -->