/* -------------------------------------------------------------- Variables */

/* Fonts */
$fontBase: Helvetica, sans-serif;
$fontTitle: Times New Roman, serif;

/* Colors */
$colors: (
  text: (
    base: #666
  ),
  bg: (
    base: #fff
  ),
  primary: (
    base: #008fec
  ),
  secondary: (
    base: #f6471e
  ),
  tertiary: (
    base: #f6a21e
  ),
  abstract: (
    base: #666
  )
);

/* Breakpoints */
$breakpoints: (
  x-small: (
    b1: 480px,
    b2: 520px,
    b3: 560px,
    b4: 600px,
    b5: 640px,
    b6: 680px,
  ),
  small: (
    b1: 720px,
    b2: 760px,
    b3: 800px,
    b4: 840px,
    b5: 880px,
    b6: 920px,
  ),
  medium: (
    b1: 960px,
    b2: 1000px,
    b3: 1040px,
    b4: 1080px,
    b5: 1120px,
    b6: 1160px,
  ),
  large: (
    b1: 1200px,
    b2: 1240px,
    b3: 1280px,
    b4: 1320px,
    b5: 1360px,
    b6: 1400px,
  ),
);

/* Media targets */
$media: (
  "ie11" : "ie11",
);

/* ---------------------------------------------------- Mixins, Functions, and Extends */
@import "config/*.scss";

/* ---------------------------------------------------- Resets and Global Styles (All Projects) */
@import "global/*.scss";

/* ---------------------------------------------------- Site Plugins (Site Specific) */
/* Includes some common plugins */
// @import "plugins/*.scss";

/* ---------------------------------------------------- Site Base Elements (Site Specific) */
@import "base/*.scss";

/* ---------------------------------------------------- Site Modules (Site Specific) */
@import "layouts/*.scss";
@import "modules/*.scss";
@import "blocks/*.scss";
@import "elements/*.scss";